<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="text-center text-muted">Spectra Plotter</h1>
      </div>

      <br><br><br>

      <div class="row">
        <div class="form-group col-xs-6">
          <label for="years">Select a year</label>
          <select class="form-control" style="color: white; background: #34568B;" id="years">
            {% for o in years %}
                    <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-xs-6">
          <label for="spectra">Select a spectrum</label>
          <select class="form-control" style="color:white; background:#009B77;" id="spectra">
            {% for o in spectra %}
                    <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div>
        <button type="button" style="color:white; background:#3498DB;" id="process_input">Plot!</button>
      </div><br><br>
      <div id="processed_results">
        Choose the year and the filename to plot
      </div>
      <div>
        <canvas id="calChart" width="200" height="80"></canvas>
      </div>
      <div>
        <canvas id="digChart" width="200" height="80"></canvas>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        $('#years').change(function(){

          $.getJSON('/_update_dropdown', {
            selected_year: $('#years').val()

          }).success(function(data) {
                $('#spectra').html(data.html_string_selected);
           })
        });
        $('#process_input').bind('click', function() {

            $.getJSON('/_process_data', {
                selected_year: $('#years').val(),
                selected_spectrum: $('#spectra').val(),


            }).success(function(data) {
                chartPlotter(data.intensity, data.wavenumbers, data.digitized_spec,data.digitized_lbl, data.im_filename)
            })
          return false;

        });
      });
    </script>
    <script>
          function chartPlotter(data_cal, sp_labels,data_dig, dig_labels, im_filename) {
            plotButton = document.getElementById("process_input");
            plotButton.addEventListener("click", function(){
            calChart.destroy();
            digChart.destroy();
            });
            cal_ctx = document.getElementById('calChart').getContext('2d');
            dig_ctx = document.getElementById('digChart').getContext('2d');
            calChart = new Chart(cal_ctx, {
            type: 'line',
              data: {
                labels: sp_labels, 
                datasets: [{
                  label: 'Calibrated Spectrum',
                  data: data_cal, // Data on Y axis
                  borderWidth: 1,
                  fill: false,
                  borderColor: "#0000ff",
                  lineTension: 0.4,
                  backgroundColor: "#0000ff",
                  pointBackgroundColor: "#0000ff",
                  pointBorderColor: "#0000ff",
                  pointHoverBackgroundColor: "#0000ff",
                  pointHoverBorderColor: "#0000ff",
                  pointRadius: 0
              }]
              },
            options: {
              // All of these (default) events trigger a hover and are passed to all plugins,
              // unless limited at plugin options
              events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],
              plugins: {
                tooltip: {
                  // Tooltip will only receive click events
                  events: ['click']
                }
              }
            }
            });
            const chartAreaBorder = {
                id: 'chartAreaBorder',

                beforeDraw(chart, args, options) {
                const { ctx, chartArea: { left, top, width, height } } = chart;
                ctx.save();
                ctx.strokeStyle = options.borderColor;
                ctx.lineWidth = options.borderWidth;
                ctx.setLineDash(options.borderDash || []);
                ctx.lineDashOffset = options.borderDashOffset;
                ctx.strokeRect(left, top, width, height);
                const image = new Image();
                image.src = im_filename;
                ctx.drawImage(image, left,top, width, height);
                ctx.restore();
                }
              };
            digChart = new Chart(dig_ctx, {
            type: 'line',
              data: {
                labels: dig_labels, 
                datasets: [{
                  label: 'Digitized Spectrum',
                  data: data_dig, // Data on Y axis
                  borderWidth: 1,
                  pointRadius: 1,
              }]
              },
              plugins: [ chartAreaBorder ],
              options: {
                plugins: {
                  chartAreaBorder: {
                    borderColor: 'red',
                    borderWidth: 1,
                    borderDash: [ 5, 5 ],
                    borderDashOffset: 2,
                  }
                }
              },

          });
          }
</script>
  </body>
</html>

